# Challenge
---
This notebook is looking at the seasonal differences in weather for the island of oahu. The data is stored in a sqlite database.

1. Identify key statistical data in June across all of the stations and years using the describe() function.
2. Identify key statistical data in December across all stations and years using the describe() function.
3. Share your findings in the Jupyter Notebook with a few sentences describing the key differences in weather between June and December and 2-3 recommendations for further analysis.

In [34]:
# plotting dependencies
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

# data analysis dependencies
import numpy as np
import pandas as pd

# other
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

### Setting up The Sqlite Session

In [35]:
# create the engine for our sql database
engine = create_engine('sqlite:///hawaii.sqlite')
# set a base class for an automap schema
Base = automap_base()
# reflect an existing database into a new model
Base.prepare(engine, reflect = True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

# Create our session (link) from Python to the DB
session = Session(engine)

### Create a Function for Monthly Weather data

In [36]:
def month_describe(month:int):
    '''Input is a month in the form of an int between 1 and 12''' 
    
    if (month < 1) or (month > 12):
        return("Not a recognized month")

    # get the month data from the table
    results = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).filter(extract('month', Measurement.date)==month).all()
    # add the results of the query to a df for analysis
    results_df = pd.DataFrame(results, columns=['date','precipitation','tobs'])
    results_df.set_index(results_df['date'], inplace = True)
    return(results_df.describe())

### Monthly Weather Data for June

In [37]:
# June = 6
month_describe(6)

       precipitation         tobs
count    1574.000000  1700.000000
mean        0.136360    74.944118
std         0.335731     3.257417
min         0.000000    64.000000
25%         0.000000    73.000000
50%         0.020000    75.000000
75%         0.120000    77.000000
max         4.430000    85.000000

### Monthly Weather Data for December

In [38]:
# December = 12
month_describe(12)

       precipitation         tobs
count    1405.000000  1517.000000
mean        0.216819    71.041529
std         0.541399     3.745920
min         0.000000    56.000000
25%         0.000000    69.000000
50%         0.030000    71.000000
75%         0.150000    74.000000
max         6.420000    83.000000

### Observations on Monthly Changes

One of the nice things about tropical islands is that the weather is relatively stable year round. This can easily be seen in the average temperature values for both months. In June the average temperature was about 75 degrees compared to 71 degrees in December. A four degree difference is likely not the deciding factor in vaction planning. The temperature is also very stable with an interquartile range of only 5 degrees in December and 4 degrees in June. We can see a difference in the precipitation though with December seeing nearly 60% more rain than June.

Since this exercise is a business analysis, looking at the economy of Oahu whould be very helpful. Is the town a tourist destination or mostly locals? Is it alreay a surfing spot with many store or is this store filling a missing market. It would also do well to perfomr these analysis along with the weather analysis on a few other cities near by for a comparison.